{% import "_includes/forms" as forms %}


<fieldset>
	<h2>General Plugin Settings</h2>

	{{ forms.autosuggestField({
        label: "Dall-E API Key",
        id: 'apiKey',
        name: 'apiKey',
        suggestEnvVars: true,
        value: settings.apiKey,
        instructions: 'An OpenAI API key with access to Dall-E',
        placeholder: ""
    }) }}


    {{ forms.textField({
        label: 'Generation count'|t('app'),
        instructions: 'The number of images that should be created for each generation request. Min:1, Max: 8',
        id: 'count',
        name: 'count',
        value: settings.count,
        size: 2,
        errors: settings.getErrors('count'),
        tip: 'Each image generation costs $, but generating several options at once helps editors to make quicker choices.',
    }) }}


</fieldset>